body {
    background-image: url("images/BG.jpg");
    background-repeat: repeat;
    text-align: center;
}
h1 {
	font-size: 36px;
    color: #FFF;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
} 
p {
	font-size: 26px;
    color: #FFF;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
} 